.toolTip__toolTip{background:#091E42;color:#fff;font-size:10px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;padding:8px;line-height:18px;max-width:282px;z-index:2;width:100%;font-weight:400}

