<div class="tab-content">

  <div role="tabpanel" class="tab-pane active animated fadeInLeft" id="ABOUT-REAL-ESTATE">
    <div class="clearfix"></div>
    <div class="vspace"></div>
    <div class="vspace"></div>
    <div class="container">
      <div class="col-sm-8">
        <p style="font-size:30px" ; style=" color: black;">ABOUT REAL ESTATE</p>
        <p class="about-para"><b> Real Estate vertical of Garg Group a 50 years old group, having diversified interests in publication, education and real estate. LandCraft was founded in the year 2006 and being a part of Garg Group it has been laid down on solid foundation.</b></p>
        <p class="about-head"><b>REASONS WE ARE BUILT ON SOLID FOUNDATION</b></p>
        <ul class="about-list">
          <li>&#9642;   Part of Diversified Group</li>
          <li>&#9642;   Our Founder's Philosophy: "Niyat Gail Barkat"</li>
          <li>&#9642;   All our structural designs are approved by IIT Delhi.</li>
          <li>&#9642;   In-house lab and strict Quality Control as per ISO Standards.</li>
          <li>&#9642;   Use of latest technologies like Mivan Shuttering</li>
        </ul>
        <p class="about-para"><b>Given the number of prestigious projects the company has delivered and the several more it has been signed up for, LandCraft looks to the future with confidence, with plans afoot to aggressively expand beyond Delhi and the NCR.</b></p>
      </div>
      <div class="clearfix"></div>
      <div class="vspace"></div>
      <div class="vspace"></div>
    </div>


  </div>
  <div class="tabpanel">

    <header>
     <p style="font-size:10px"
     <div class="container border-bottom">
      <ul class="contact-info">
        <li> <a href="tel:8585900157"> <x>Sales</x> +91 8585900157</a> </li>
        
        <li> <a href="tel:1204185000"><x>Office</x> 91-731-4984840</a> </li>

        <li> <a href="https://www.bestpeers.com/">info@bestpeers.in </a> </li> 
      </ul>
    </p>
  </header>
  <div class="tab-content">


    <footer>
      <nav class="navbar navbar-dark bg-light justify-content-between">
        <div class="link-list style-left">
          <div class="link-list style-right">
            <div class="copyright">
              <div class="container">
                <div class="col-sm-12 col-md-6 col-xs-12">
                  <p>Copyright &copy; 2020, Landcraft Developers Pvt. Ltd</p>
                </div>
                <div class="col-sm-12 col-md-6 col-xs-12">
                 <p class="text-right"><a href="http://www.acetz.com" target="_blank">Powered by: <x>Bestpeers Infosystem Private Limited</x></a></p>
               </div>
             </div>
           </nav>
    </footer>

    <% if current_user.role == 'Seller' %>
    <%= link_to 'Back', sellers_path %>
    <% else %>
    <%= link_to 'Back' ,buyers_index_path %>
    <% end %>



