
<div class="break">
<div class="bread-section">
  <div class="container">
    <div class="news-marquee">
      <p>
        <span>
        <h1>
        </div>
        <p style="font-size:30px"; style="color: black;"> News </p>
      </h1>
        <marquee>
        <a href="https://www.ashianahousing.com/real-estate-blog/5-reasons-why-real-estate-is-your-safest-best-long-term-investment-option/" target="_blank">Top 10 Reasons Why Investing in Properties on Real Estate is a Good Idea</a> 
         </a> 
      </marquee>
      </span>
    </p>
    </div>

  </div>
</div>


   <section>
     <div class="panel panel-default">
     <div class="panel-heading">
     <h5 class="panel-title contact-heading">BESTPEERS INFOSYSTEM PVT. LTD.</h5>
     </div>
     <div class="panel-body">
     <address>
				Bestpeers InfoSystem Pvt. Ltd. <BR> 142-A, First Floor, New IT Park Building, <br>Electronic Complex, Pardesipura, <br> Indore, Madhya Pradesh 452010
			</address>
      <a href="#">Phone: &nbsp;<i class="flaticon-telephone-1"></i> +91-120-4185000</a><br>
      <a href="#">Fax:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="flaticon-telephone-1"></i>  +91-120-4185005</a><br>
      <a href="#">Email:&nbsp;&nbsp; <i class="flaticon-back"></i> info@bestpeers.in</a>
      <div class="vspace"></div>
      <div class="contactmap-btn">
      </div>
      </div>
      </div>
      </section>