<p> What makes me a specialist? 

I am an owner investor, luxury seller and luxury buyer, and have been for over ten years.  I know the market and I know what you’re looking for. You are busy.  Your life is full.  You have family, friends, travel, meetings, concert tickets, pets, and dinner reservations and that is just today’s to-do list.  I get it.  You don’t have time. 

But I do.  I help my clients get to the core of their Real Estate needs, wants, wishes, and when-I-win-the-lottery-dreams, and bring back results.  I’m here for the long haul.  From your first purchase, to growing your real estate portfolio, to your luxury dream home, I believe that strong relationships and honest advice are the back bone of my business and my success.

“A true Real Estate Professional is not an observer, they are an active participant.”
I’ve been a Real Estate professional for over twelve years.  I’m a licensed Sales Representative and Accredited Buyer Representative as well as a Member of the Luxury Home Institute.  I’ve been in the top 1% of Realtors selling condos in Toronto since 2007 and recently placed in the Top 50 among realtors in Canada with Re/Max for its first quarter in 2017.  My excellent sales record has been recognized with the induction into the Re/Max Hall of Fame, Re/Max Platinum Club Membership and in 2012 was credited as the #1 Sales Representative out of all Re/Max Condos Plus agents.

In 2017, I received my Certified Luxury Home Marketing Specialist® (CLHMS) designation and simultaneously earned the Million Dollar Guild®(GUILD) recognition.  Both are based on my knowledge, experience and expertise in the luxury market.

I’m also a proud Toronto resident, serving as President on the Board of Directors at my downtown Toronto condominium complex. I’m a luxury property owner and owner investor to multiple properties around the City. 

I enjoy hosting elegant dinner parties for my family and friends, and yes, I even love to cook. 
</p>

</div>